express
drizzle-orm
mysql
dotenv
bcrypt
express-session
nodemailer
ws
@types/multer
@types/memoizee
@tanstack/react-query
framer-motion
react
react-dom
react-scripts
tailwindcss
postcss
autoprefixer
@radix-ui/react-*
class-variance-authority
clsx
cmdk
date-fns
crypto-js
multer
embla-carousel-react
zod
tsx
esbuild
drizzle-kit
typescript
helmet
xss